<%= simple_form_for @task do |f| %>
<div class="row">
  <div class="col-6">
    <%= f.error_notification %>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <%= f.input :title %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.input :beginning_at, as: :date %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.input :due_at, as: :date %>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <%= f.input :priority, collection: Task::priorities.keys %>
  </div>
  <div class="col-3">
    <%= f.input :status, collection: Task::statuses.keys %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.input :content %>
  </div>
</div>
  <%= f.button :submit, class: "btn-primary" %>
  <%= link_to 'Back', tasks_path, class:'btn btn-secondary'%>
<% end %>
