<h2 class="text-monospace font-weight-bold"><%= @task.title %></h2>
<table class="table table-info my-1 text-monospace">
  <tbody>
    <tr>
      <th scope="row" width="20%">Status</th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th scope="row" width="20%">Priority</th>
      <td><%= @task.priority %></td>
    </tr>
    <tr>
      <th scope="row" width="20%">Begin - Due</th>
      <td><%= @task.beginning_at&.strftime("%Y/%m/%d") %> - <%= @task&.due_at&.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <th scope="row" width="20%">Content</th>
      <td><%= @task.content %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', tasks_path %>
